* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.intro {
    background-color: rgb(73, 73, 73);
    color: white;
    height: 100vh;

    display: flex;
    align-items: center;
    justify-content: center;
}

.home {
    background-color: rgb(218, 59, 207);
    color: white;
    height: 100vh;

    display: flex;
    align-items: center;
    justify-content: center;
}

.invisible {
    display: none;
}

.title {
    font-size: 5rem;
    font-weight: bold;
}